@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 20%;
    background-color:#2B2B2E;
    padding: 20px 40px;
    box-shadow: inset -2px -2px 6px #4D484C;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/* ---------- BOTONES DEL HEADER ----------  */
header button {
	-moz-box-shadow: 0px 1px 0px 0px #FF6347;
	-webkit-box-shadow: 0px 1px 0px 0px #FF6347;
	box-shadow: 0px 1px 0px 0px #FF6347;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e38578), color-stop(1, #FF6347) );
	background:-moz-linear-gradient( center top, #e38578 5%, #FF6347 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e38578', endColorstr='#FF6347');
	background-color:#e38578;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
text-indent:0;
	border:1px solid #FF6347;
	display:inline-block;
	color:#eaeaea;
	font-family: 'Poppins', sans-serif;
	font-weight:500;
	font-size:12px;
	font-style:normal;
height:20px;
	line-height:20px;
width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 1px 0px #FF6347;
}
header button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FF6347), color-stop(1, #e38578) );
	background:-moz-linear-gradient( center top, #FF6347 5%, #e38578 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF6347', endColorstr='#e38578');
	background-color:#FF6347;
}header button:active {
	position:relative;
	top:1px;}

.buttons-header{
    width: 350px;
    display: flex;
    justify-content: space-between;
}