@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
main{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.editor-content{
    height: 450px;
    width: 450px;
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
/* pasar estilos de clase a javascript */
.top-text{
    height: 15%;
    width: 100%;
    font-family: Impact;
    font-size: 40;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFF;

}
.image-meme{
    height: 70%;
    width: 100%;
    background-color: black;
}
.botton-text{
    height: 15%;
    width: 100%;
    font-family: Impact;
    color: rgb(0, 0, 0);
    font-size: 40;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFF;
}
.download-button{
    width: 90px;
    height: 40px;
    background-color: #F15B43;
    border-radius: 3px;
    color: white;
    margin: 10px 0px;
}
