@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
main{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* ---------- CONTAINER DEL MEME ----------  */
.editor-content{
    height: 450px;
    width: 450px;
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
/* ---------- ESTILOS DEL IMAGEN ----------  */
img{
    max-width:100%;
    max-height:100%;
    width: auto;
    height: auto;
}
.image-meme{
    width: 100%;
    background-color: black;
    
}

/* ---------- ESTILOS DE TEXTO ----------  */
.top-text{
    height: 15%;
    width: 100%;
    font-family: Impact;
    font-size: 40;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EAEAEA;

}
.botton-text{
    height: 15%;
    width: 100%;
    font-family: Impact;
    color: rgb(0, 0, 0);
    font-size: 40;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EAEAEA;
}

/* ---------- BOTÓN DE DESCARGA ----------  */

.download-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ff6347;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ff6347;
	box-shadow:inset 0px 1px 0px 0px #ff6347;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e38578), color-stop(1, #ff6347) );
	background:-moz-linear-gradient( center top, #e38578 5%, #ff6347 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e38578', endColorstr='#ff6347');
	background-color:#e38578;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
text-indent:0;
	border:1px solid #ff6347;
	display:inline-block;
	color:#eaeaea;
	font-family: 'Poppins', sans-serif;
	font-size:1em;
	font-weight:500;
	font-style:normal;
height:40px;
	line-height:40px;
width:120px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 1px 0px #e38578;
}.download-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff6347), color-stop(1, #e38578) );
	background:-moz-linear-gradient( center top, #ff6347 5%, #e38578 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6347', endColorstr='#e38578');
	background-color:#ff6347;
}.download-button:active {
	position:relative;
	top:1px;
}