@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body.dark-scene{
    --background-color:#2B2B2E; 
    --text-color:#EAEAEA;
}
body.light-scene{
    --background-color:#EEEEEE;
    --text-color: #2B2B2E; 
}


body {
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #EAEAEA;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-weight: bold;
    color: var(--text-color);
}

h2 {
    font-size: 1em;
}

h3 {
    font-size: 0.7em;
    font-weight: 400;
}

h5 {
    font-weight: 100;
}

label {
    font-size: 0.8em;
}


footer {
    width: 100%;
    height: 8%;
    background-color: #2B2B2E;
    color: #EAEAEA;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.row{
    display: flex;
    flex-direction: row;
}